@(typesForm:Form[Types])
@import helper._
@import helpers.BootstrapHelper._
@import controllers.InventoryController
@main("Add or Remove an Item Type"){
@form(routes.TypeController.save()){

<fieldset>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h1 class="sub-header">Add an Item Type</h1>
      @inputText(typesForm("type_name"), '_label -> "Type Name")
    </div>
</div>

<div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2 col-md-offset-2 pull-right">
          <a href="@routes.InventoryController.index()" class="btn btn-primary">Cancel</a>
          <button type="submit" class="btn btn-default">Create Type</button>
        </div>
      </div>
    </div>
  </div>
</fieldset>
}

@form(routes.TypeController.delete()) {

</fieldset>
	<div class="row">
	    <div class="col-md-offset-2 col-md-8">
	      <h1 class="sub-header">Remove an Item Type</h1>
	      @inputText(typesForm("type_name"), '_label -> "Type Name")
	    </div>
	</div>

<div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2 col-md-offset-2 pull-right">
          <a href="@routes.InventoryController.index()" class="btn btn-primary">Cancel</a>
          <button type="submit" class="btn btn-default">Remove Type</button>
        </div>
      </div>
    </div>
  </div>
</fieldset>

}}