@(ticketForm:Form[Ticket])
@import helper._
@import helpers.BootstrapHelper._
@main("Create Ticket"){
@form(routes.TicketController.save()){
<fieldset>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h1 class="sub-header">Create Ticket</h1>
      @inputText(ticketForm("name"), '_label -> "name")
      @inputText(ticketForm("assigned_to"), '_label -> "assigned to")
      @inputText(ticketForm("created_for"), '_label -> "created for")
      @textarea(ticketForm("description"), '_label -> "description")(FieldConstructor(views.html.helper.bootstrapTextarea.f), null)
      @select(ticketForm("category"), options(Seq("vm_setup","lost_item","tours","damaged_item","vm_upgrade","training","miscellaneous")),
        '_label -> "Category")(FieldConstructor(views.html.helper.inputFieldConstructor.f), null)  
      @select(ticketForm("state"),  options(Seq("Pending","Resolved")), 
        '_label -> "State")(FieldConstructor(views.html.helper.inputFieldConstructor.f), null)
      @select(ticketForm("priority"), options(Seq("Low", "Normal", "High")), 
        '_label -> "Priority")(FieldConstructor(views.html.helper.inputFieldConstructor.f), null) 
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2 col-md-offset-2 pull-right">
          <a href="@routes.TicketController.index()" class="btn btn-primary">Cancel</a>
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </div>
  </div>
</fieldset>
}}