@*
* index tickets
*@
@import helper._
@import helpers.BootstrapHelper._
@main("View Tickets"){
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h1 class="sub-header">Tickets</h1>
    <table id="data-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Assigned to</th>
          <th>Created for</th>
          <th>Description</th>
          <th>Date Created</th>
          <th>Last Updated</th>
          <th>Category</th>
          <th>Priority</th>
          <th>State</th>
          <th class="action">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for(ticket <- Ticket.tickets) {
        <tr>
          <td>
            <a href="@routes.TicketController.show(ticket.ticket_id)">
              @ticket.name
            </a>
          </td>
          <td>
            <a href="@routes.UserController.show(ticket.assigned_to)">
              @ticket.assigned_to
            </a>
          </td>
          <td>
            <a href="@routes.UserController.show(ticket.created_for)">
              @ticket.created_for
            </a>
          </td>
          <td>
            @ticket.description
          </td>
          <td>
            @ticket.date_created
          </td>
          <td>
            @ticket.last_updated
          </td>
          <td>
            @ticket.priority
          </td>
          <td>
            @ticket.state
          </td>
          <td>
            <div class="btn-group btn-sm">
              @form(routes.TicketController.edit(ticket.ticket_id)){
              <button type="submit" class="btn btn-warning">Edit</button>
              }
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-2 col-md-offset-2 pull-right">
        <a href="@routes.TicketController.create()" class="btn btn-primary btn-lg btn-block">New Ticket</a>
      </div>
    </div>
  </div>
</div>
},