@(ticket: Ticket)
@main("View Ticket"){
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h1 class="sub-header">Ticket Details</h1>
    <h4>ID: @ticket.ticket_id</h4>
    <h4>Name: @ticket.name</h4>
    <h4>Assigned to
    <a href="@routes.UserController.show(ticket.assigned_to)">
      @ticket.assigned_to
    </a>
    </h4>
    <h4>Created for
    <a href="@routes.UserController.show(ticket.created_for)">
      @ticket.created_for
    </a>
    </h4>
    <h4>Description: @ticket.description</h4>
    <h4>Date Created: @ticket.date_created</h4>
    <h4>Last Updated: @ticket.last_updated</h4>
    <h4>Category: @ticket.category</h4>
    <h4>Priority: @ticket.priority</h4>
    <h4>State: @ticket.state</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-2 col-md-offset-2 pull-right">
        <a href="@routes.TicketController.index()" class="btn btn-default">Back</a>
        <a href="@routes.TicketController.edit(ticket.ticket_id)" class="btn btn-primary">Edit</a>
      </div>
    </div>
  </div>
</div>
},