@(userForm:Form[User])
@import helper._
@import helpers.BootstrapHelper._
@main("Create User"){
@form(routes.UserController.save()){
<fieldset>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h1 class="sub-header">Create User</h1>
      @inputText(userForm("user_id"), '_label -> "Id")
      @inputText(userForm("first_name"), '_label -> "First Name")
      @inputText(userForm("last_name"), '_label -> "Last Name")
      @checkbox(userForm("active"), '_label -> "Active")(FieldConstructor(views.html.helper.bootstrapCheckbox.f), null)
      @inputText(userForm("email"), '_label -> "email")
      @textarea(userForm("note"), '_label -> "note")(FieldConstructor(views.html.helper.bootstrapTextarea.f), null)
      @inputText(userForm("role"), '_label -> "role")
     
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2 col-md-offset-2 pull-right">
          <a href="@routes.UserController.index()" class="btn btn-primary">Cancel</a>
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </div>
  </div>
</fieldset>
}
},