@*
* show users
*@
@import helper._
@import helpers.BootstrapHelper._


@main("View Users"){
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h1 class="sub-header">
        <div class="row">
            <div class="col-md-4">
                Manage Users
            </div>
        </div>
    </h1>

        <table id="data-table-user" class="table table-hover" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="action"></th>
              <th>Id</th>
              <th>First</th>
              <th>Last</th>
              <th>Email</th>
              <th>Note</th>
              <th>Active</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
            @for(user <- User.users) {
            <tr>
            <td>
                <div class="btn-group btn-sm">
                  @form(routes.UserController.edit(user.user_id)){
                  <button type="submit" class="btn btn-default">
                      <i class="glyphicon glyphicon-cog"></i>
                  </button>
                  }
                </div>
              </td>
              <td>
                <a href="@routes.UserController.show(user.user_id)">
                  @user.user_id
                </a>
              </td>
              <td>
                @user.first_name
              </td>
              <td>
                @user.last_name
              </td>
              <td>
                <a href=@("mailto:"+user.email) target="_top">
                  @user.email
                </a>
              </td>
              <td>
                @user.note
              </td>
              <td>
                @user.active
              </td>
              <td>
                @user.role
              </td>
              
            </tr>
            }
          </tbody>
        </table>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-2 col-md-offset-8 pull-right">
        <a href="@routes.UserController.create()" class="btn btn-default btn-block">
            Create New User
        </a>
      </div>
    </div>
  </div>
</div>

},