@(user: User)
@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@main("View User"){
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h1 class="sub-header">User Details</h1>
    <h4>User ID: 
    <a href="@routes.UserController.show(user.user_id)">
      @user.user_id
    </a>
    </h4>
    <h4>First name: @user.first_name</h4>
    <h4>Last name: @user.last_name</h4>
    <h4>Email: <a href=@("mailto:"+user.email) target="_top">@user.email</a></h4>
    <h4>Note: @user.note</h4>
    <h4>Active: @user.active</h4>
    <h4>Role: @user.role</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-2 col-md-offset-2 pull-right">
        <button type="button" class="btn btn-primary btn-lg btn-block ">Edit</button>
      </div>
    </div>
  </div>
</div>
},