@(currentUserID :String)
@*
* show items
*@
@import helper._
@import helpers.BootstrapHelper._
@main("Select Category"){
@if(flash.containsKey("error")){
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Sorry!</strong> @flash.get("error")
</div>
}
@if(flash.containsKey("success")){
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Success!</strong> @flash.get("success")
</div>
}
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h1 class="sub-header">Select an Item Type</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="pull-left bigdiv">
      <a class="select-a" href="@routes.InventoryController.filtered("android_phone")">
        <img class="select-img" src="@routes.Assets.versioned("images/android_phone.png")" class="img-responsive" alt="Responsive image">
        <h3 align="center"> Android Phone</h3>
      </a>
    </div>
    <div class="pull-left bigdiv">
      <a class="select-a" href="@routes.InventoryController.filtered("android_tablet")">
        <img class="select-img" src="@routes.Assets.versioned("images/android_tablet.png")" class="img-responsive" alt="Responsive image">
        <h3 align="center"> Android Tablet</h3>
      </a>
    </div>
    <div class="pull-left bigdiv">
      <a class="select-a" href="@routes.InventoryController.filtered("iPad")">
        <img class="select-img" src="@routes.Assets.versioned("images/iPad.png")" class="img-responsive" alt="Responsive image">
        <h3 align="center">iPad</h3>
      </a>
    </div>
    <div class="pull-left bigdiv">
      <a class="select-a" href="@routes.InventoryController.filtered("dell_laptop")">
        <img class="select-img" src="@routes.Assets.versioned("images/dell_laptop.png")" class="img-responsive" alt="Responsive image">
        <h3 align="center"> Dell Laptop</h3>
      </a>
    </div>
    <div class="pull-left bigdiv">
      <a class="select-a" href="@routes.InventoryController.filtered("iPhone")">
        <img class="select-img" src="@routes.Assets.versioned("images/iphone.png")" class="img-responsive" alt="Responsive image">
        <h3 align="center">iPhone</h3>
      </a>
    </div>
    <div class="pull-left bigdiv">
      <a class="select-a" href="@routes.InventoryController.filtered("macbook")">
        <img class="select-img" src="@routes.Assets.versioned("images/macbook.png")" class="img-responsive" alt="Responsive image">
        <h3 align="center">Macbook Air</h3>
      </a>
    </div>
    <div class="pull-left bigdiv">
      <a class="select-a" href="@routes.InventoryController.filtered("raspberryPi")">
        <img class="select-img" src="@routes.Assets.versioned("images/raspberryPi.png")" class="img-responsive" alt="Responsive image">
        <h3 align="center">Raspberry Pi</h3>
      </a>
    </div>
    <div class="pull-left bigdiv">
      <a class="select-a" href="@routes.InventoryController.filtered("all")">
        <img class="select-img" src="@routes.Assets.versioned("images/All.png")" class="img-responsive" alt="Responsive image">
        <h3 align="center"> All</h3>
      </a>
    </div>
  </div>
</div>
}