@(item: Inventory)
 
@main("Checkout Item"){
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h1 class="sub-header">Checkout Details</h1>
    <h4>Item ID: @item.item_id</h4>
    <h4>Model No.: @item.model_number</h4>
    <h4>Serial No.: @item.serial_number</h4>
    <h4>Type: @item.item_type</h4>

         <div class="input-group date" id="dateInput">
          <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>
        
        <button onclick="getDateInput()">Submit</button>
    
    <h4>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-2 col-md-offset-2 pull-right">
          <a href="@routes.InventoryController.edit(item.item_id)" class="btn btn-default">Checkout(Edit)</a>
          <a href="@routes.InventoryController.index()" class="btn btn-default">Back</a>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
       $('#dateInput').datepicker({
            format: "yyyy-MM-dd",
            startDate: 0,
            maxViewMode: 1,
            autoclose: true,
            todayHighlight: true
        });
    });
    
    function getDateInput() {
        @item.return_date = document.getElementById("dateInput").value;
        
        }
</script>
},