@(item: Inventory)
@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@main("View Item"){
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h1 class="sub-header">Item Details</h1>
    <h4>Item ID: @item.item_id</h4>
    <h4>Model No.: @item.model_number</h4>
    <h4>Serial No.: @item.serial_number</h4>
    <h4>Type: @item.item_type</h4>

     @*****************************************
     
     
     component here!!
     
     "item.return_date" needs to be filled in format yyyy-MM-dd
     *****************************************@
    
    <h4>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-2 col-md-offset-2 pull-right">
          <a href="@routes.InventoryController.index()" class="btn btn-default">Back</a>
          <a href="@routes.InventoryController.edit(item.item_id)" class="btn btn-primary">Checkout(Edit)</a>
      </div>
    </div>
  </div>
</div>
},

