@(invForm:Form[Inventory])
@import helper._
@import helpers.BootstrapHelper._
@main("Create Item"){
@form(routes.InventoryController.save()){
<fieldset>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h1 class="sub-header">Create Item</h1>
      @inputText(invForm("item_id"), '_label -> "item id")
      @inputText(invForm("model_number"), '_label -> "model number")
      @inputText(invForm("serial_number"), '_label -> "serial number")
      @select(invForm("item_type"), options(Seq("iphone","macbook")),'_label -> "Item type")(FieldConstructor(views.html.helper.inputFieldConstructor.f), null)
      @checkbox(invForm("retired"), '_label -> "retired")(FieldConstructor(views.html.helper.bootstrapCheckbox.f), null)
     
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2 col-md-offset-2 pull-right">
          <a href="@routes.InventoryController.index()" class="btn btn-primary">Cancel</a>
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </div>
  </div>
</fieldset>
}
},