@*
* show items
*@
@import helper._
@import helpers.BootstrapHelper._
@main("View Items"){
@if(flash.containsKey("error")){
     <div class="alert alert-info alert-dismissible" role="alert">
     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <strong>Sorry!</strong> @flash.get("error")
     </div>
 }
@if(flash.containsKey("success")){
     <div class="alert alert-success alert-dismissible" role="alert">
     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <strong>Success!</strong> @flash.get("success")
     </div>
 }
<div class="row">
  <div class="col-md-offset-2 col-md-8 table-responsive">
    <h1 class="sub-header">Items</h1>
  </div>
  <div class="col-md-offset-2 col-md-8 table-responsive">

    <table id="data-table" class="table table-hover" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="action"></th>
          <th>Id</th>
          <th>Model No.</th>
          <th>Serial No.</th>
          <th>Available</th>
          <th>Retired</th>
          <th>Type</th>
          <th>Rented By</th>
          <th>Date Checked Out</th>
          <th>Date Due</th>
          <th>Last Notified</th>
          <th class="action">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for(item <- Inventory.items) {
        <tr>
          <td>
            <div class="btn-group btn-sm">
            @form(routes.InventoryController.edit(item.item_id)){
              <button type="submit" class="btn btn-default">
                  <i class="glyphicon glyphicon-cog"></i>
              </button>
            }
            </div>
          </td>
          <td>
            <!-- TODO: add a method to get a formatted id to the inventory model -->
            <a href="@routes.InventoryController.show(item.item_id)">00@item.item_id</a>
          </td>
          <td>
            @item.model_number
          </td>
          <td>
            @item.serial_number
          </td>
          <td>
            @item.available
          </td>
          <td>
            @item.retired
          </td>
          <td>
            @item.item_type
          </td>
          <td>
            @if(item.rented_by != null) {
            <a href="@routes.UserController.show(item.rented_by.user_id)">
              @item.rented_by.user_id
            </a>
            }
          </td>
          <td>
            @item.taken_date
          </td>
          <td>
            @item.return_date
          </td>
          <td>
            @item.last_notified
          </td>
          <td>
            <div class="btn-group btn-sm">
              @if(item.available()){
                @form(routes.InventoryController.checkout(item.item_id)){
                  <button type="submit" class="btn btn-warning">Checkout</button>
                }
              }
              @if(item.rented_by != null && item.rented_by.user_id == getUserProfile().getId()) {
                @form(routes.InventoryController.checkin(item.item_id)){
                  <button type="submit" class="btn btn-warning">Checkin</button>
                }
              }
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-2 col-md-offset-2 pull-right">
          <a href="@routes.InventoryController.create()" class="btn btn-primary btn-lg btn-block">New Item</a>
      </div>
    </div>
  </div>
</div>
},