@(item: Inventory)
@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@main("View Item"){
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h1 class="sub-header">Item Details</h1>
    <h4>Item ID: @item.item_id</h4>
    <h4>Model No.: @item.model_number</h4>
    <h4>Serial No.: @item.serial_number</h4>
    <h4>Available: @item.available</h4>
    <h4>Retired: @item.retired</h4>
    <h4>Type: @item.item_type</h4>
    @if(item.rented_by != null) {
    <h4> Item checked out by:
    <a href="@routes.UserController.show(item.rented_by.user_id)">
      @item.rented_by.user_id
    </a>
    }
    <h4>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-2 col-md-offset-2 pull-right">
        <button type="button" class="btn btn-primary btn-lg btn-block ">Edit</button>
      </div>
    </div>
  </div>
</div>
},