@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String, scripts: Html = Html(""))(body: Html)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Lab Management System CSRA Lab at Louisiana Tech">
        <meta name="author" content="">
        
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <!-- Images -->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <!-- CSS -->
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/dashboard.css")">
        <link rel="stylesheet" href="https://cdn.datatables.net/t/bs/jqc-1.12.0,dt-1.10.11/datatables.min.css">
        
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.js")"></script>
        <script src="https://cdn.datatables.net/t/bs/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">CSRA Lab</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/dashboard">Tickets</a></li>
                        <li><a href="#">Inventory</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="/noscript">No Script</a></li>
                        <li><a href="/script">Script</a></li>
                        <li><a href="/counter">Count</a><li>
                    </ul>
                </div>
            </div>
        </nav>
        @* And here's where we render the `Html` object containing
        * the page content. *@
        <div class="container-fluid">
            @body
        </div>
    </body>
    <script>
    $(document).ready(function() {
        $('#data-table').DataTable();
    });
    </script>
    @scripts
</html>